<a href="https://colab.research.google.com/github/Bleakmiss/Forecasting-Fuerza-bruta-/blob/main/Copy_of_BaseDatosOro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ORO!!! Forecasting

In [92]:
## Importando las librerías
import pandas as pd
import numpy as np

In [93]:
## Definicion de variables
Aux_C=[]
Aux_B=[]
Aux=[]
C=np.array([])
etiqueta = np.array(dataframeGold['Value'])[2:]
car_m1 = np.array(dataframeGold['Value'])[1:-1]
car_m2 = np.array(dataframeGold['Value'])[:-2]

10785
10785
10785

In [94]:

#Funcion para calculo de error de de las funcion obtenida 

def Calc_Error(h,array2):
    #T0*x0 + T1*x1 = h(x)
    error = (h- array2)**2
    return(np.sum(error)/(2*error.shape[0]))

In [95]:
#Funcion para calculo de funcion H(x) por medio de fuerza bruta
def Fuerza_bruta(Caracteristica1,Caracteristica2,etiquetas):
    for i in np.arange(-2,2,0.01):
        for j in np.arange(-2, 2, 0.01):
            C1= i*Caracteristica1+ Caracteristica2*j
            Aux_C.append(i)
            Aux_B.append(j)
            Aux.append(Calc_Error(C1,etiquetas))
    index=Aux.index(min(Aux))
    return(round(Aux_C[index],3),round(Aux_B[index],3),round(min(Aux),3))

In [97]:
# Mostrado en pantalla de los parametros y error de la funcion obtenida

hola1=Fuerza_bruta(car_m1,car_m2,etiqueta)
print("Parametro 1:",hola1[0],"Parametro 2:",hola1[1],"error:",hola1[2])

Parametro 1: 0.99 Parametro 2: 0.01 error: 0.01

In [ ]:
## Agrupando los datos en un único Dataframe y exportándolo a un archivo CSV
dataset = pd.DataFrame({'Carac menos 2':car_m2, 'Carac menos 1':car_m1, 'Etiqueta':etiqueta})
dataset.to_csv('goldPriceArranged.csv')

In [ ]:
## Pasando los datos a una matriz de tipo numpy
matrizDatos = dataset.to_numpy()
print(matrizDatos.shape)

(10785, 3)

In [88]:

dataframeGold = pd.read_csv('gold_price_data.csv')
print(dataframeGold.dtypes)
dataframeGold.head(10)
print(dataframeGold.columns)
dataframeGold.describe()

Date      object
Value    float64
dtype: object
Index(['Date', 'Value'], dtype='object')

              Value
count  10787.000000
mean     653.596634
std      434.030848
min       35.100000
25%      349.200000
50%      409.350000
75%     1061.625000
max     1895.000000